<div class= "main-signin">
  <div class='welcome'>
   <h1>Please add new recipe</h1>
   <p>To add recipe please follow the form and fill all fields provided, note that preparation time as well as cooking time is hours</p>
  </div>
  <div class='sign_up'>
    <h1>New Recipe</h1>
    <%= render 'form' %>
  </div>
</div>
