<div class= "main-signin">
<div class='welcome'>
<h1>Please add foods</h1>
<p>To add foods please follow the form and fill all fields provided, please do add the names of the food item as a singular item</p>
</div>
<div class='sign_up'>
<h1>New Food</h1>

<%= form_with(model: @food, url: foods_path, method: :post) do |form| %>
  <%= render 'form', form: form %>

  <div class="actions">
    <%= form.submit 'Create Food', class: 'btn' %>
  </div>
<% end %>
</div>
</div>
