.main-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 1px solid grey;
  height: 90vh;
  width: auto;
}

.welcome,
.sign_up {
  width: 40%;
  padding: 3rem;
}

.welcome {
  box-shadow: 10px 5px 5px grey;
  height: 30%;
  text-align: right;
}

.field {
  margin: 1rem;
}

.new_user > .actions,
.sign_up > a {
  margin: 1rem;
}

.navbar > ul {
  display: flex;
  justify-content: space-around;
}

.navbar > ul > li {
  list-style: none;
}

.navbar > ul > li > a {
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.navbar > ul > li > a:hover {
  text-decoration: underline;
}
